body {
    background-image: url("/images/juliejoslin1.jpg");
    background-size: cover;
}

h1 {
    text-align: left;
    font-size: 50px;
    color: darkblue;
    font-style: oblique;
    text-decoration: underline;
}

h3 {
    text-decoration: underline;
}

h3, p {
    color: blue;
    font-weight: bold;
}
header {
    padding: 0px;
}
