

div.milestoneTitle {
    font-size: 4em;
    text-align: center;
    color: black;
    font-family: monospace;
}

div.pwpMile1 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 120px;
    background-image: url("imagenamehere.jpg");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    background-color: black;
    font-family: monospace;
}

div.purpAudGoal {
    border-bottom: .25em solid black;
    border-left: .25em solid black;
    border-right: .25em solid black;
    color: black !important;
    padding: 1em;
}

section.personaBody {
    background-color: gainsboro;
    margin-top: 2em;
    padding: 1em;
}

h4 {
    font-size: 3em !important;
    text-align: center;
    font-style: italic;
    font-family: monospace;
}

